@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Web-приложение «Букмекерская контора»</h2>

<p>
    Исполнитель: Пистюльга Сергей, группа 3515<br /><br />
    Функции букмекерской конторы<br /><br />
    <li>
    <ul>Регистрация пользователей и личный кабинет (денежные средства, ставки, обмен сообщениями)</ul>
    <ul>• Модерирование (добавление событий, результатов, блокировка пользователей</ul>
    <ul>• Просмотр списка матчей и коэффициентов</ul>
    <ul>• Приём и расчёт ставок на исходы событий</ul>
    <ul>• Бегущая строка со спортивными новостями</ul>
    </li>
</p>
