@{
    ViewBag.Title = "Rules";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Правила</h2>

<div><h2 id="1">Основные понятия и термины</h2><p>Данные Правила приёма ставок и выплаты выигрышей букмекерской компании (далее по тексту Правила) определяют порядок приёма ставок, выплаты выигрышей, разрешения спорных вопросов, особенности ставок на отдельные виды спорта. Данные Правила регулируют все иные отношения между участниками  букмекерской компанией и клиентом согласно законодательству Российской Федерации.</p>
<p>Данные Правила распространяются как для клиентов, так и для клиентов всех пунктов приемов ставок букмекерской компании.</p>
<table border="0" cellspacing="1" cellpadding="2">
<tbody>
<tr valign="top">
<td><strong>Ставка</strong></td>
<td>-</td>
<td>соглашение о выигрыше, заключённое между клиентом и букмекерской компанией, согласно установленным Правилам, при этом исход данного соглашения зависит от события, относительно которого неизвестно, наступит оно или нет. Приём ставок от клиентов происходит на условиях, предлагаемых букмекерской компанией.</td>
</tr>
<tr valign="top">
<td><strong>Исход</strong></td>
<td>-</td>
<td>
<p>результат события (событий), на которое делалась ставка</p>
</td>
</tr>
<tr valign="top">
<td><strong>Клиент</strong></td>
<td>-</td>
<td>лицо, делающее ставку в букмекерской компании на исход события.</td>
</tr>
<tr valign="top">
<td><strong>Линия</strong></td>
<td>-</td>
<td>совокупность событий, возможные исходы этих событий, коэффициенты на возможные исходы этих событий, их дата и время, после которых букмекерская компания прекращает приём ставок на исходы указанных событий.</td>
</tr>
<tr valign="top">
<td><strong>Отмена ставки</strong></td>
<td>-</td>
<td>событие, по которому расчет и выплата выигрыша не производятся. В случае «отмены ставки», согласно условий настоящих Правил, сделка между организатором и клиентом считается незаключенной и по такой ставке производится возврат денежных средств.</td>
</tr>
<tr valign="top">
<td><strong>Основное время матча</strong></td>
<td>-</td>
<td>это продолжительность матча в соответствии с правилами проведения соревнования по данному виду спорта, включающее добавленное арбитром время. Основное время матча не включает дополнительное время, овертаймы, серии пенальти, буллитов и т.п.</td>
</tr>
</tbody>
</table></div>